###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = ftp://alpha.gnu.org/pub/gnu/automake/automake-1.11.2b.tar.gz
md5sum = e559d6ffafae403b87f0c3c332c9636e

#patches=${buildout:directory}/minitage.patch
#patch-options=-Np1

[mirrors]
gentoo=gentoo.tiscali.nl



